* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 15px;
  color: gray;
  line-height: 1.6;
}

:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
}

img {
  max-width: 100%;
  height: auto;
}

/* ===============
    helper classes 
=============== */

/* ===============
    flexbox classes 
=============== */

/* ===============
    background  & text-color classes 
=============== */

/* ===============
    content heading classes 
=============== */

/* ===============
    box's classes 
=============== */

/* ===============
    space classes 
=============== */

/* ===============
    header 
=============== */

/* ===============
    main content 
=============== */
